<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="32000">
		<setting id="fanarttv" type="bool" label="32001" default="true" />
		<setting id="fanarttv_apikey" type="text" label="32006" visible="eq(-1,true)" default="bd7716e1d05e2dd55cb0861c065c2a31"/>
		<setting id="fanarttv_all" type="bool" label="32007" visible="eq(-2,true)" default="false" />
		<setting id="theaudiodb" type="bool" label="32002" default="true" />
		<setting id="theaudiodb_apikey" type="text" label="32006" visible="eq(-1,true)" default="293621276b2d731671156g"/>
		<setting id="duckgo" type="bool" label="32208" default="false" />
		<setting id="duckgo_limit" type="number" label="32209" visible="eq(-1,true)" default="15" />
		<setting id="duckgo_all" type="bool" label="32007" visible="eq(-2,true)" default="true" />
	</category>
	<category label="32200">
		<setting id="biography_language" type="select" label="32206" default="en" values="en|fr|de|es|ru" />
		<setting id="restrict_cache" type="bool" label="32201" default="false" />
		<setting id="max_cache_size" label="32202" type="labelenum" values="128|256|512|768|1024|2048|3072|4096" visible="eq(-1,true)" default="1024" />
		<setting id="ssl_check" type="bool" label="32203" default="true" />
		<setting id="nice" type="number" label="32207" default="15" />
	</category>
</settings>
